{% extends "base.html" %}

{% block title %} Update {% endblock title%}

{% block content %}
        {% for restaurant in restaurants %}
            <a href="{% url 'restaurant-detail' restaurant.id %}">
                <ul>
                    <li>{{restaurant.name}}</li>
                    <li>{{restaurant.description}}</li>
                    <li>{{restaurant.opening_time}}</li>
                    <li>{{restaurant.closing_time}}</li>
                </ul>
            </a>
        {% endfor %}

        <a href="{% url 'restaurant-create' %}"><button>Create a new Restaurant</button></a>

{% endblock content %}
